<%= form_for @term do |f| %>

  <div class="field form-group">
    <%= f.collection_select(:member_id, Member.all, :id, :name) %>
  </div>

  <div class="field form-group">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, {:start_year => 2040, :end_year => 1920, :include_blank => true} %>
  </div>

  <div class="field form-group">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, {:start_year => 2040, :end_year => 1920, :include_blank => true} %>
  </div>

  <div class="field form-group">
    <%= f.submit("Submit", class: "btn btn-primary") %>
  </div>

<% end %>
