<%= form_for @statement do |f| %>

  <div class="field form-group">
    <%= f.collection_select(:member_id, Member.all, :id, :name) %>
  </div>

  <div class="field form-group">
    <%= f.label :summary %>
    <%= f.text_area :summary, class: "form-control", rows: 10 %>
  </div>

  <div class="field form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :lean %>
    <%= f.text_field :lean, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label "Substantially similar to prior statement(s)" %>
    <%= f.check_box :similar_to_prior %>
  </div>

  <div class="field form-group">
    <%= f.label :statement_date %>
    <%= f.date_select :statement_date %>
  </div>

  <div class="field form-group">
    <%= f.label :pub_date %>
    <%= f.date_select :pub_date %>
  </div>

  <div class="field form-group">
    <%= f.submit("Submit", class: "btn btn-primary") %>
  </div>

<% end %>
