<div class="col-xs-12">

<h1>Statements</h1>

<%= form_tag({controller: 'statements', action: 'index'}, method: 'get', id: 'filter_form', class: 'form-inline') do %>
  <span class="glyphicon glyphicon-minus"></span>
  <div class="form-group">
  <%= label_tag(:filter, "Exclude non-voting members at time of statement") %>
  <%= check_box_tag(:filter, "true", params.has_key?(:filter) ? true : false) %>
  </div>
  &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-minus"></span>
  <div class="form-group">
  <%= label_tag(:filter_when_prior, "Exclude statements substantially similar to prior ones by the same member") %>
  <%= check_box_tag(:filter_when_prior, "true", params.has_key?(:filter_when_prior) ? true : false) %>
  </div>
<% end %>

<script>
  document.getElementById('filter').addEventListener('change', function() {
    document.getElementById('filter_form').submit();
  }, false);
  document.getElementById('filter_when_prior').addEventListener('change', function() {
    document.getElementById('filter_form').submit();
  }, false);
</script>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="width:30%;">Name</th>
      <th>Summary</th>
      <th>Lean</th>
      <th>Statement Date</th>
      <th>Publication Date</th>
    </tr>
  </thead>
  <tbody>
    <% counter = 0 %>
    <% @statements.order(statement_date: :desc).each do |statement| %>
    <% counter += 1 %>
    <tr>
      <td><span class="badge"><%= link_to counter.to_s, statement_path(statement), style: "all: inherit" %></span>&nbsp;&nbsp;<%= link_to statement.member.name, member_path(statement.member) %></td>
      <td><%= statement.summary %> <%= link_to '<span class="glyphicon glyphicon-paperclip"></span>'.html_safe, statement.url, :target => "_blank" %></td>
      <td><%= statement.lean %></td>
      <td><%= statement.statement_date %></td>
      <td><%= statement.pub_date %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "All Members", members_path, class: "btn btn-default" %>
<p/>
</div>
