<%= form_for @projection do |f| %>
  <p>
    <%= f.label :present_date %>
    <% if params[:action] == 'new' %>
      <%= f.date_select :present_date, {:start_year => 2012, :default => Projection.maximum(:present_date)}, onblur: 'changeFulfillmentDate()' %>
    <% else %>
      <%= f.date_select :present_date, {:start_year => 2012} %>
    <% end %>
  </p>
  <p>
    <%= f.label :projected_rate %>
    <%= f.number_field :projected_rate, {:step => 0.001} %>
  </p>
  <p>
    <%= f.label :fulfillment_date %>
    <% if params[:action] == 'new' %>
      <%= f.date_select :fulfillment_date, {:start_year => 2012, :end_year => LONG_RUN_PLACEHOLDER_DATE.year, :default => Projection.where(:present_date => Projection.maximum(:present_date)).maximum(:fulfillment_date)} %>
    <% else %>
      <%= f.date_select :fulfillment_date, {:start_year => 2012, :end_year => LONG_RUN_PLACEHOLDER_DATE.year} %>
    <% end %>
  </p>
  <% if params[:action] == 'new' %>
    <p>
      <%= label_tag 'Number of projections' %>
      <%= select_tag "voters", options_for_select((1..19).step(1)) %>
    </p>
  <% end %>
  <%= f.submit "Submit" %>
<% end %>

<script>
  function changeFulfillmentDate() {
    document.getElementById('projection_fulfillment_date_1i').value = document.getElementById('projection_present_date_1i').value;
    document.getElementById('projection_fulfillment_date_2i').value = 12;
    document.getElementById('projection_fulfillment_date_3i').value = 31;
  }
</script>
