<span class="label label-primary">FOMC Projections and Actual Rates</span>

<div id="fed_chart">
</div>

<span class="label label-primary">FOMC Projection Discrepancies</span>

<div id="fed_chart2">
</div>

<script>

  var days_in_advance = <%= raw @chart_data.collect { |x| x[:days_in_advance] } %>;
  var begin_date = <%= raw @chart_data.collect { |x| x[:date_of_projection] } %>;

  var fed_chart = c3.generate({
    bindto: '#fed_chart',
    data: {
      xs: {
        'Actual Rate': 'x1',
        'Projected Rate': 'x2'
      },
      columns: [
        <%= raw ['x1'].concat(@date_info) %>,
        <%= raw ['x2'].concat(@chart_data.collect { |x| x[:projected_date] }) %>,
        <%= raw ['Actual Rate'].concat(@rate_info) %>,
        <%= raw ['Projected Rate'].concat(@chart_data.collect { |x| x[:projected_rate] }) %>
      ],
      xSort: false,
      color: function (color, d) {
            // d will be 'id' when called for legends
            return d.id && d.id === 'Projected Rate' ? d3.rgb(color).brighter(-days_in_advance[d.index] / 250) : color;
        }
    },
    zoom: {
      enabled: true
    },
    axis: {
      x: {
        type: 'timeseries',
        tick: {
          format: '%Y-%m-%d',
          fit: false
        },
        label: {
          text: 'Dates',
          position: 'outer-right'
        }
      },
      y: {
        label: {
          text: 'Interest Rates',
          position: 'outer-top'
        }
      }
    },
    tooltip: {
      format: {
        title: function(d) { return d3.time.format("%B %e, %Y")(d) },
        name: function (name, ratio, id, index) { if(name === 'Projected Rate') { return name + " on " + begin_date[index]; } else { return name; } },
        value: function(d) { return d + "%" }
      },
      grouped: false
    }
  });

  var fed_chart2 = c3.generate({
    bindto: '#fed_chart2',
    data: {
      xs: {
        Projections: 'Projections_x'
      },
      columns: [
        <%= raw ['Projections_x'].concat(@chart_data.collect { |x| x[:days_in_advance] }) %>,
        <%= raw ['Projections'].concat(@chart_data.collect { |x| x[:projection_discrepancy] }) %>
      ],
      type: 'scatter'
    },
    axis: {
      x: {
        label: {
          text: 'Days from Date of Projection to Expiration',
          position: 'outer-right'
        },
        tick: {
          fit: false
        }
      },
      y: {
        label: {
          text: 'Projected vs. Actual Interest Rates Differential',
          position: 'outer-top'
        }
      }
    },
    tooltip: {
      format: {
        title: function(d) { return Math.abs(d) + " Days Prior" },
        value: function(d) { return d + "%  Discrepancy" }
      }
    }
  });

</script>

<%= form_tag({controller: 'projections', action: 'index'}, method: 'get', id: 'trim_form', class: 'form-inline') do %>
  <div class="form-group">
  <%= label_tag(:trim, "How many outliers to exclude from each projection date/expiration date combination?") %>
  <%= select_tag(:trim, options_for_select([0,1,2,3,4,5,6,7], params.has_key?(:trim) ? params[:trim].to_i : 0), class: "form-control") %>
  </div>
<% end %>

<%= link_to "More Details", "#", :onclick => "$(showDetails())", :role => "button", class: "btn btn-info" %>
<div id="details"></div>

<script>
  document.getElementById('trim').addEventListener('change', function() {
    document.getElementById('trim_form').submit();
  }, false);

  function showDetails() {

    if ($('#details').is(':empty')) {
      $('#details').empty().append("<%= escape_javascript(render partial: 'details') %>").hide().slideDown('fast');
    } else {
      $('#details').slideUp('fast').empty();
    }

  }
</script>
