<div class="col-xs-12 col-md-9" style="height:100%;">

<!--   <div id="explain">
    As of March 20th, 2016, I am suspending work on The Fed Project. While I'd love to continue updating statements and projections,
    right now I simply don't have the time to juggle multiple side projects simultaneously. I hope to take this back up at some future date,
    but as of now I have no specific plans to do so. Thanks again for visiting!
  </div> -->

  <h1><%= number_with_delimiter(Projection.count) %></h1>
  <small>individual projections</small>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <span class="label label-primary">Average FOMC Projections of Long-Term Rates</span>

  <div id="long_term_chart">
  </div>

  <span class="label label-primary">FOMC Projections and Actual Rates</span>

  <div id="fed_chart">
  </div>

  <span class="label label-primary">FOMC Projection Discrepancies</span>

  <div id="fed_chart2">
  </div>

  <script>

    var days_in_advance = <%= raw @chart_data.collect { |x| x[:days_in_advance] } %>;
    var begin_date = <%= raw @chart_data.collect { |x| x[:date_of_projection] } %>;

    var long_term_chart = c3.generate({
      bindto: '#long_term_chart',
      data: {
        xs: {
          'Average Long-Term Projection': 'x1'
        },
        columns: [
          <%= raw ['x1'].concat(@long_run.collect { |x| x[:present_date].strftime('%Y-%m-%d') }) %>,
          <%= raw ['Average Long-Term Projection'].concat(@long_run.collect { |x| x[:long_term].to_f }) %>
        ],
        xSort: false
      },
      axis: {
        x: {
          type: 'timeseries',
          tick: {
            format: '%Y-%m-%d',
            fit: false
          },
          label: {
            text: 'Projection Dates',
            position: 'outer-right'
          }
        },
        y: {
          label: {
            text: 'Average Projected Interest Rates',
            position: 'outer-top'
          }
        }
      },
      tooltip: {
        format: {
          title: function(d) { return d3.time.format("%B %e, %Y")(d) },
          value: function(d) { return d + "%" }
        },
        grouped: false
      }
    });

    var fed_chart = c3.generate({
      bindto: '#fed_chart',
      data: {
        xs: {
          'Actual Rate': 'x1',
          'Projected Rate': 'x2'
        },
        columns: [
          <%= raw ['x1'].concat(@date_info) %>,
          <%= raw ['x2'].concat(@chart_data.collect { |x| x[:projected_date] }) %>,
          <%= raw ['Actual Rate'].concat(@rate_info) %>,
          <%= raw ['Projected Rate'].concat(@chart_data.collect { |x| x[:projected_rate] }) %>
        ],
        xSort: false,
        color: function (color, d) {
          // d will be 'id' when called for legends
          return d.id && d.id === 'Projected Rate' ? d3.rgb(color).brighter(-days_in_advance[d.index] / 365) : color;
        }
      },
      zoom: {
        enabled: true
      },
      axis: {
        x: {
          type: 'timeseries',
          tick: {
            format: '%Y-%m-%d',
            fit: false
          },
          label: {
            text: 'Dates',
            position: 'outer-right'
          }
        },
        y: {
          label: {
            text: 'Interest Rates',
            position: 'outer-top'
          }
        }
      },
      tooltip: {
        format: {
          title: function(d) { return d3.time.format("%B %e, %Y")(d) },
          name: function (name, ratio, id, index) { if(name === 'Projected Rate') { return name + " on " + begin_date[index]; } else { return name; } },
          value: function(d) { return d + "%" }
        },
        grouped: false
      }
    });

    var fed_chart2 = c3.generate({
      bindto: '#fed_chart2',
      data: {
        xs: {
          Projections: 'Projections_x',
          Regression: 'Regression_x'
        },
        columns: [
          <%= raw ['Projections_x'].concat(@chart2_data.collect { |x| x[:days_in_advance] }) %>,
          <%= raw ['Projections'].concat(@chart2_data.collect { |x| x[:projection_discrepancy] }) %>,
          ['Regression_x', <%= @regression_data[:lowest_x] %> , 0],
          ['Regression', <%= (@regression_slope * @regression_data[:lowest_x]) + @y_intercept %> , <%= @y_intercept %>]
        ],
        type: 'scatter',
        types: {
          Regression: 'line'
        },
        colors: {
          Regression: '#BCB8B8'
        }
      },
      axis: {
        x: {
          label: {
            text: 'Days from Date of Projection to Expiration',
            position: 'outer-right'
          },
          tick: {
            fit: false
          }
        },
        y: {
          label: {
            text: 'Projected vs. Actual Interest Rates Differential',
            position: 'outer-top'
          }
        }
      },
      tooltip: {
        format: {
          title: function(d) { return Math.abs(d) + " Days Prior" },
          value: function(d) { return d3.round(d, 3) + "%  Discrepancy" }
        },
        grouped: false
      },
      legend: {
        hide: ['Regression']
      }
    });

  </script>

  <%= form_tag({controller: 'projections', action: 'index'}, method: 'get', id: 'trim_form', class: 'form-inline') do %>
    <div class="form-group">
    <%= label_tag(:trim, "Exclude # of outliers from each projection date/expiration date combination:") %>
    <%= select_tag(:trim, options_for_select([0,1,2,3,4,5,6,7], params.has_key?(:trim) ? params[:trim].to_i : 0), class: "form-control") %>
    </div>
  <% end %>

  <%= link_to "More Details", "javascript:void(0)", :onclick => "$(showDetails())", :role => "button", class: "btn btn-info" %>
  <div id="details"></div>

  <script>
    document.getElementById('trim').addEventListener('change', function() {
      document.getElementById('trim_form').submit();
    }, false);

    function showDetails() {

      if ($('#details').is(':empty')) {
        $('#details').empty().append("<%= escape_javascript(render partial: 'details') %>").hide().slideDown('fast');
      } else {
        $('#details').slideUp('fast').empty();
      }

    }
  </script>

</div>

<div class="col-md-3 hidden-xs hidden-sm" style="height:100%;">

  <!-- <span class="label label-primary"><%= link_to "Recent Statements", statements_path, style: "all: inherit" %></span>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Summary</th>
        <th>Lean</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% Statement.order(statement_date: :desc).limit(5).each do |statement| %>
      <tr>
        <td><%= link_to statement.member.name, member_path(statement.member) %></td>
        <td><%= truncate(statement.summary, length: 50, separator: ' ') %> <%= link_to '<span class="glyphicon glyphicon-paperclip"></span>'.html_safe, statement.url, :target => "_blank" %></td>
        <td><%= statement.lean %></td>
        <td><%= statement.statement_date.strftime("%b %-d") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>  -->
  <span class="label label-primary"><%= link_to "Tweets by Fed Watchers", "https://twitter.com/TheFedProject/lists/fed-watchers", {style: "all: inherit", target: "_blank"} %></span>
  <p>&nbsp;</p>
  <a class="twitter-timeline" href="https://twitter.com/TheFedProject/lists/fed-watchers" data-widget-id="639864180619636736" height="60%">Tweets from https://twitter.com/TheFedProject/lists/fed-watchers</a>

</div>
