<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>The Fed Project</title>
  <%= stylesheet_link_tag    'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<% if params[:controller] == 'members' && params[:action] == 'show' %>
<meta property="og:title" content="The Fed Project - <%= @member.name %>" />
<% else %>
<meta property="og:title" content="The Fed Project" />
<% end %>
<meta property="og:site_name" content="The Fed Project" />
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:description" content="Tracking the FOMC's federal funds rate projections, one at a time." />
<meta property="og:image" content="http://www.fedproject.com/assets/fed2.jpg" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@TheFedProject" />

</head>
<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">The Fed Project</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Home", {controller: 'projections', action: 'index'}, data: {no_turbolink: true} %></li>
          <!-- <li><a href="#about">About</a></li> -->
          <li><%= link_to "Contact", "https://twitter.com/jaypinho", :target => "_blank" %></li>
        </ul>
        <div id="buttondiv">
          <a href="https://twitter.com/TheFedProject" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @TheFedProject</a>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container-fluid" style="height:100%;">
    <div class="row" style="height:100%;">
      <%= yield %>
    </div>
  </div>
</body>
</html>
