<%= form_for @member do |f| %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :member_type %>
    <%= f.text_field :member_type, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, {:start_year => 1920, :end_year => 2040, :include_blank => true} %>
  </div>

  <div class="field form-group">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, {:start_year => 1920, :end_year => 2040, :include_blank => true} %>
  </div>

  <div class="field form-group">
    <%= f.label :dob %>
    <%= f.date_select :dob, {:start_year => 1920, :end_year => 1990, :include_blank => true} %>
  </div>

  <div class="field form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.submit("Submit", class: "btn btn-primary") %>
  </div>

<% end %>
