<div class="col-xs-12">

<h1>Members</h1>

<%= form_tag({controller: 'members', action: 'index'}, method: 'get', id: 'filter_form', class: 'form-inline') do %>
  <span class="glyphicon glyphicon-minus"></span>
  <div class="form-group">
  <%= label_tag(:voting_members_only, "Only include currently voting members") %>
  <%= check_box_tag(:voting_members_only, "true", params.has_key?(:voting_members_only) ? true : false) %>
  </div>
<% end %>

<script>
  document.getElementById('voting_members_only').addEventListener('change', function() {
    document.getElementById('filter_form').submit();
  }, false);
</script>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Member Type</th>
      <th>Term Start</th>
      <th>Term End</th>
      <th>Date of Birth</th>
      <th>Biography</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <% leaning_text = " " %>
    <% leaning = member.statements.order(statement_date: :desc).limit(1) %>
    <% if leaning.count == 1 %>
      <% leaning.first.lean == "Hawkish" ? leaning_text += "<small><span title='#{member.name}&#39;s most recent statement was hawkish.' class='glyphicon glyphicon-chevron-up'></span></small>" : (leaning.first.lean == "Dovish" ? leaning_text += "<small><span title='#{member.name}&#39;s most recent statement was dovish.' class='glyphicon glyphicon-chevron-down'></span></small>" : leaning_text += "<small><span title='#{member.name}&#39;s most recent statement was neutral.' class='glyphicon glyphicon-minus'></span></small>") %>
    <% end %>
    <tr class="<%= 'inactive_member' if Date.today < member.start_date || ((member.end_date.nil? == false) && (Date.today > member.end_date)) %>">
      <td><%= link_to member.name, member_path(member) %><%= leaning_text.html_safe %></td>
      <td><%= member.member_type %></td>
      <td><%= member.start_date.strftime("%B %-d, %Y") unless member.start_date.nil? %></td>
      <td><%= member.end_date.strftime("%B %-d, %Y") unless member.end_date.nil? %></td>
      <td><%= member.dob.strftime("%B %-d, %Y") unless member.dob.nil? %></td>
      <td><%= member.bio %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "All Statements", statements_path, class: "btn btn-default" %>
<p/>
</div>
