<div class="col-xs-12">

<h1><%= @member.name %></h1>

<p>
  <strong>Member Type:</strong> <%= @member.member_type %>
</p>

<p>
  <strong>Date of Birth:</strong> <%= @member.dob %>
</p>

<p>
  <strong>Biography:</strong> <%= @member.bio %>
</p>

<h3>Statements</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Summary</th>
      <th>Lean</th>
      <th>Statement Date</th>
      <th>Publication Date</th>
    </tr>
  </thead>
  <tbody>
    <% @member.statements.order(statement_date: :desc).each do |statement| %>
    <tr>
      <td><%= statement.summary %> <%= link_to '<span class="glyphicon glyphicon-paperclip"></span>'.html_safe, statement.url, :target => "_blank" %></td>
      <td><%= statement.lean %></td>
      <td><%= statement.statement_date %></td>
      <td><%= statement.pub_date %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
