<div class="col-xs-12">

<h1><%= @member.name %></h1>
<em><%= @member.member_type %></em>
<p>&nbsp;</p>
<% unless @member.start_date.nil? %>
<p>
  <strong>Joined the Federal Reserve:</strong> <%= @member.start_date.strftime("%B %-d, %Y") %>
</p>
<% end %>

<% unless @member.end_date.nil? %>
<p>
  <strong>Left the Federal Reserve:</strong> <%= @member.end_date.strftime("%B %-d, %Y") %>
</p>
<% end %>

<% unless @member.dob.nil? %>
<p>
  <strong>Date of Birth:</strong> <%= @member.dob.strftime("%B %-d, %Y") %>
</p>
<% end %>

<% unless @member.bio.nil? || @member.bio == "" %>
<p>
  <strong>Biography:</strong> <%= @member.bio %>
</p>
<% end %>

<h3>Statements</h3>

<%= form_tag({controller: 'members', action: 'show'}, method: 'get', id: 'filter_form', class: 'form-inline') do %>
  <span class="glyphicon glyphicon-minus"></span>
  <div class="form-group">
  <%= label_tag(:filter, "Exclude statements made during non-voting periods") %>
  <%= check_box_tag(:filter, "true", params.has_key?(:filter) ? true : false) %>
  </div>
  &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-minus"></span>
  <div class="form-group">
  <%= label_tag(:filter_when_prior, "Exclude statements substantially similar to prior ones by the same member") %>
  <%= check_box_tag(:filter_when_prior, "true", params.has_key?(:filter_when_prior) ? true : false) %>
  </div>
<% end %>

<script>
  document.getElementById('filter').addEventListener('change', function() {
    document.getElementById('filter_form').submit();
  }, false);
  document.getElementById('filter_when_prior').addEventListener('change', function() {
    document.getElementById('filter_form').submit();
  }, false);
</script>

<% member_statements = @member.statements.exclude_non_voting(params[:filter]).exclude_similar_to_prior(params[:filter_when_prior]).order(statement_date: :desc) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Summary</th>
      <th>Lean</th>
      <th>Statement Date</th>
      <th>Publication Date</th>
    </tr>
  </thead>
  <tbody>
    <% counter = 0 %>
    <% member_statements.each do |statement| %>
    <% counter += 1 %>
    <tr>
      <td><span class="badge"><%= link_to counter.to_s, statement_path(statement), style: "all: inherit" %></span>&nbsp;&nbsp;<%= statement.summary %> <%= link_to '<span class="glyphicon glyphicon-paperclip"></span>'.html_safe, statement.url, :target => "_blank" %></td>
      <td><%= statement.lean %></td>
      <td><%= statement.statement_date.strftime("%B %-d, %Y") unless statement.statement_date.nil? %></td>
      <td><%= statement.pub_date.strftime("%B %-d, %Y") unless statement.pub_date.nil? %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "All Members", members_path, class: "btn btn-default" %>
<%= link_to "All Statements", statements_path, class: "btn btn-default" %>

</div>
