<div class="col-xs-12">

<h1><%= @member.name %></h1>
<em><%= @member.member_type %></em>
<p>&nbsp;</p>
<p>
  <strong>Joined the Federal Reserve:</strong> <%= @member.start_date %>
</p>

<% unless @member.end_date.nil? %>
<p>
  <strong>Left the Federal Reserve:</strong> <%= @member.end_date %>
</p>
<% end %>

<% unless @member.dob.nil? %>
<p>
  <strong>Date of Birth:</strong> <%= @member.dob %>
</p>
<% end %>

<% unless @member.bio.nil? || @member.bio == "" %>
<p>
  <strong>Biography:</strong> <%= @member.bio %>
</p>
<% end %>

<h3>Statements</h3>

<%= form_tag({controller: 'members', action: 'show'}, method: 'get', id: 'filter_form', class: 'form-inline') do %>
  <div class="form-group">
  <%= label_tag(:filter, "Exclude statements made during non-voting periods") %>
  <%= check_box_tag(:filter, "true", params.has_key?(:filter) ? true : false) %>
  </div>
<% end %>

<script>
  document.getElementById('filter').addEventListener('change', function() {
    document.getElementById('filter_form').submit();
  }, false);
</script>

<% if params.has_key?(:filter) %>
  <% member_statements = @member.statements.joins('JOIN terms on terms.member_id = statements.member_id').where('(statements.statement_date BETWEEN terms.start_date AND terms.end_date) OR (statements.statement_date >= terms.start_date AND terms.end_date IS NULL)').order(statement_date: :desc) %>
<% else %>
  <% member_statements = @member.statements.order(statement_date: :desc) %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Summary</th>
      <th>Lean</th>
      <th>Statement Date</th>
      <th>Publication Date</th>
    </tr>
  </thead>
  <tbody>
    <% member_statements.each do |statement| %>
    <tr>
      <td><%= statement.summary %> <%= link_to '<span class="glyphicon glyphicon-paperclip"></span>'.html_safe, statement.url, :target => "_blank" %></td>
      <td><%= statement.lean %></td>
      <td><%= statement.statement_date %></td>
      <td><%= statement.pub_date %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "All Members", members_path %>
<br>
<%= link_to "All Statements", statements_path %>

</div>
